.button {
    border-radius: 2px;
    border: none;
    background-color: #dcf0ef;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    width: 70px;
    height: 50px;
}
.equal {
    background-color: #3a5bf3;
}
.sygn {
    background-color: #73889c;
    font-weight: bold;
}
.clear {
    background-color: #FF5733;
}
.back {
    background-color: #0000FF;
}
table {
    margin: 0 auto;
    width: 70px;
}
.display {
    width: 280px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}
input{
    width: 280px;
    border-style: hidden;
    text-align: right;
}
label {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.35em;
    font-size: 30px;
    padding-bottom: 15px;
}
#calc, #result {
    font-size: 25px;
}
#calc {
    opacity: .5;
}
